html {
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
}

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    height: 100vh;
    width: 100vw;
    max-height: 100vh;
    max-width: 100vw;

    font-size: 1rem;
    text-align: center;
    overflow-y: hidden;
    position: relative;
    margin: 0;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    color: black;
    background-color: white;
}

section.loading > div > small {
    display: block;
}

/* 로딩 */
progress {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    margin: 1em auto;
    display: block;
    border-radius: 10vh;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2) inset;
    background: transparent;
    width: 70vw;
}

progress::-webkit-progress-bar {
    background: transparent;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2) inset;
    border-radius: 10vh;
}

progress::-webkit-progress-value {
    background-color: #FA7268;
    border-radius: 10vh;
}

progress::-moz-progress-bar {
    background-color: #FA7268;
    border-radius: 10vh;
}

/* 게임 */
section.game {
    /*display: none;*/
    width: 100vw;
    color: inherit;
}

section.game > #bgs > div.ingame_bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: center center / cover no-repeat;
    transition: opacity 0.5s;
    opacity: 0;
}

section.game > div.dialog {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;

    text-align: left;
    overflow-y: auto;
    width: 100%;
    min-height: 20%;
    max-height: 25%;

    position: absolute;
    bottom: 0;
}

section.game > div.dialog > span {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 1vmin;
    margin: 0;
}

section.game > div.dialog > p {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 1vmin;
    margin: 0;
}

section.game > #choice > button {
    width: auto;
    height: auto;
    text-align: center;

    /*margin: auto;*/
    margin: 1em auto;
    padding: 0.5em;
    border: 0;
    border-radius: 1em;
    font: inherit;

    color: white;
    background-color: #FA7268;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

section.game > #monologue {
    display: flex;
    background-color: black;
    color: white;
    align-items: center;
    justify-content: center;
}
