@font-face {
    src: url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
    font-family: 'Nanum Gothic', serif;
}

.full-screen {
    width: 100vw;
    height: 100vh;
}

.full-width {
    width: 100vw;
}

.full-height {
    height: 100vh;
}

.align-middle {
    position: absolute;
    top: 50%;
    left: 50%;

    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.align-vertical > * {
    display: block;
}

.align-horizontal > * {
    display: inline-block;
}
