.choices {
	z-index: 3;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.choices > .choice {
	min-width: 30%;
	padding: 8px 16px;
	border: 0;
	border-radius: 2em;
	color: white;
	font-weight: bold;
	background-color: #20c997;
	background-image: linear-gradient(45deg, #63e6be 50%, transparent 50%);
	background-position: 100%;
	background-size: 400%;
	transition: background 300ms ease-in-out;
}

.choices > .choice:hover {
	background-position: 0;
}

.choices > .choice:not(:last-child) {
	margin-bottom: 1em;
}

.choices > .choice span {
	font-size: 1.5rem;
}
