.character {
  transition: all 0.2s;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  max-width: 100%;
  max-height: 90vh;
  opacity: 0;
}

.character.show {
  opacity: 1;
}